<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원옵션</title>
</head>
<body>
  <h2>회원옵션</h2>
  <form action="{% url 'member:m2' %}" method="post" name="loginFrm">
    {% csrf_token %}
    <label>회원권번호</label>
    <input type="text" name="memberId" id="memberId" value={{cookmId}}><br>  <!-- 111, 1000000, no1-->
    <label>금액</label>
    <input type="text" name="money" id="money" value={{cookMoney}}><br>
    <label>옵션</label>
    <input type="text" name="option" id="option" value={{cookOption}}><br>
    <input type="checkbox" name='saveMember' value='1' id='saveMember' {% if cookmId %}checked{% endif %}>
    <label for="saveMember">회원정보저장</label><br>
    <input type="submit" value="회원가입">
  </form>
  
</body>
</html>