<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>학생성적입력</title>
</head>
<body>
  <div id='main'>
    <h2><a href='/'>학생성적입력</a></h2>
    <form action="/students/write/" method="post" name="sfrm">
      <label>이름</label>
      <input type='text' name='name'><br>
      <label>학과</label>
      <input type='text' name='name'><br>
      <label>이름</label>
      <input type='text' name='name'><br>
      <label>이름</label>
      <input type='text' name='name'><br>
      <label>이름</label>
      <input type='text' name='name'><br>

    </form>

  </div>
  
</body>
</html>